// Variables 
$blue : #00aeef;

html {
  position: relative;
  min-height: 100%;
}

body {
  font-family: Comfortaa !important;
  font-weight: 300!important;
  margin-bottom: 60px;
  h1, h2, h3, h4, h5, h6 {color: #686868 !important;}
  p { font-size: .8rem}
  b { font-weight: bold }
  .thin {font-weight: 100}
  .bold { font-weight: bold}
  .blue { color: $blue !important}
  .text-justify {
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    hyphens: auto;
  }
}

h1 {
    span {
        font-size: 60px;
    }
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 60px;
  line-height: 60px; /* Vertically center the text there */
  background-color: #f5f5f5;
  .container {
      text-align: center;
  }
}

.header {
    a {
        &:hover {
            text-decoration: none
        }

        &.active {
            &.nav-link {
                color: $blue !important;
                // font-weight: bold;
            }
        }
    }
}

.fa {
    font-size: 23px;
    background-image: linear-gradient(120deg, #a1c4fd 0%, #4facfe 100%);
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    transition: color .5s;
}
.fa-github { &:hover {color:#0884d5;} }
.fa-twitter { &:hover {color:#5AA2DC;} }
.fa-behance { &:hover {color:#E94989;} } 
.fa-linkedin { &:hover {color:#006DC0;} }

.pageLinks {
    text-transform: uppercase; 
    li {
        a{
            display: inline-block;
            position: relative;
            padding-bottom: 3px;
        }
        a:after {
            content: '';
            display: block;
            margin: auto;
            height: 2px;
            width: 0px;
            background: transparent;
            transition: width .5s ease, background-color .5s ease;
        }
        a:hover:after 
        {
            width: 100%;
            background:$blue;
        }
    }
}


.contact-email {
    a{
        display: inline-block;
        position: relative;
        padding-bottom: 3px;
    }
    a:after {
        content: '';
        display: block;
        margin: auto;
        height: 2px;
        width: 0px;
        background: transparent;
        text-decoration: none;
        transition: width .5s ease, background-color .5s ease;
    }
    a:hover {
        text-decoration: none;
        &:after 
        {
            width: 100%;
            background:$blue;
        }
    }
}


.social-media { padding-left: 0}
.navbar-nav {
    .nav-item {
        a {
            color: black !important;
            font-size: .8rem;
        }
    }
}

.count {
    h3 { font-size: 1rem !important}
}

.progress-bar {
    &.progress-bar-animated.bg-info.progress-bar-striped {
        height: 30px;
    }
    padding-top: 7px;
    font-size: 1rem;
}

.action {
    background-image: url(./img/seamless.png);
    background-color: #fbfafa;
    background-repeat: repeat-x;
    height: 200px;
    background-position: center;
    // display: table;
    position: static;
    width: 100%;
}

.scaleIn {
  -webkit-animation-name: scaleIn;
  animation-name: scaleIn;
}

.home-slider-container {
    padding-left: 1.8rem;
}

@keyframes scaleIn {
  0% {
    opacity: 0;
    -webkit-transform: scale(0);
    transform: scale(0);
  }

  100% {
    opacity: 1;
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

.animate-in {
    .slide-text {
        -webkit-animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
        animation: fadeInLeftBig 700ms cubic-bezier(0.190,1.000,0.220,1.000) 200ms both;
    }
    .slider-hill {
        -webkit-animation: bounceInDown 1000ms ease-in-out 200ms both;
        animation: bounceInDown 1000ms ease-in-out 200ms both;
    }

    .slider-house {
        -webkit-animation: bounceInDown 500ms ease-in-out 800ms both;
        animation: bounceInDown 500ms ease-in-out 800ms both;
    }

    .slider-sun {
        -webkit-animation: scaleIn 500ms ease-in-out 1200ms both;
        animation: scaleIn 500ms ease-in-out 1200ms both;
    }

    .slider-birds1 {
        -webkit-animation: fadeInLeft 500ms ease-in-out 1200ms both;
        animation: fadeInLeft 500ms ease-in-out 1200ms both;
    }

    .slider-birds2 {
        -webkit-animation: fadeInRight 500ms ease-in-out 1200ms both;
        animation: fadeInRight 500ms ease-in-out 1200ms both;
    }
}

#home-slider {
  background: url(./img/slider-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  position: relative;

    .main-slider {
        position: relative;
        height: 450px;
    }
    .slide-text{
        position: absolute;
        top: 7em;
        left: 0;
        width: 450px;
    }
    .slider-hill {
        position: absolute;
        left: 586px;
        bottom: 49px;
        width: 34em;
    }
    .slider-house {
        width: 23em;
        position: absolute;
        left: 676px;
        bottom: -34px;
    }
    
    .slider-sun {
        position: absolute;
        left: 695px;
        bottom: 241px;
    }
    .slider-birds1 {
        position: absolute;
        left: 935px;
        bottom: 165px;
        width: 4em;
    }

    .slider-birds2 {
        position: absolute;
        left: 750px;
        bottom: 140px;
        width: 3em;
    }
}

section {
    &.p.action {
        height: 140px !important;
    }
}

#portfolio {
    .card-block {
        a {
            text-decoration: none;
            margin-top: auto;
            width: 100%;
            button { cursor: pointer }
        }
    }
}

#tutorial {
    .list-group-item-action {
        transition: background-color .5s;
        &:focus, &:hover {
            background-color: rgba(115, 182, 254, 0.32)
        }
    } 
}

.contact {
    padding-bottom: 10em;
    background-image: url(./img/footer.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: contain;

    .bottom-separator {
        margin-bottom: -1em;
    }

    blockquote.blockquote {
        border-left: 0 solid #eceeef;
    }
}

@media only screen and (max-width: 768px) {
    h1 {
        font-size: 22px;
    }

    .social-media {
        float: left;
        ul.ml-auto.navbar-nav { 
            flex-direction: row;
            li { margin-right: 2rem}
        } 
    }

    #home-slider .slide-text {
        width: 390px;
    }

    .bio {
        margin-top: 35em !important;
    }

    .action {
        background: none;
    }
    .text-center.bottom-separator.col {
        img.goopImg {
            width: 380px;
        }
    } 
}





